@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --default-font: 'Poppins', sans-serif;
  --primary-txt: #000000;
  --secondary-txt: #ffffff;
  --tertiary-txt: #757575;
  --quaternary-txt: #55bbf9;

  --blue-color: #00beff;
  --gray-border: #dedede;
  --gray-border2: #eceef3;

  --dark-bgc: #00000033;
  --gray-bgc: #eff0f5;
  --pink-bgc: #ff6584;
  --violet-bgc: #686589;

  --box-shadow: 0px 4px 4px #00000040;
  --box-shadow2: 0px 0px 4px 2px #c4c4c440;
}

body {
  font-family: var(--default-font);
  min-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--primary-txt);

  .container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
  }
}
